@import "@/styles/variables";


.button {
  text-transform: capitalize;
  padding: 16px 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.yellow {
  color: $white;
  background-color: $yellow;
}
.accent {
  color: $white;
  background-color: $accent;
}
.outlined {
  border: 2px solid $accent;
  color: $accent;
}
