@import "@/styles/variables";

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  
  padding: 16px 32px;

  text-transform: capitalize;
  border-radius: 100px;
}

.yellow {
  color: $white;
  background-color: $yellow;
}
.accent {
  color: $white;
  background-color: $accent;
}

.outlined {
  border: 2px solid $accent;
  color: $accent;
}
