@import "@/styles/variables";
@import "@/styles/media/media-queries";

.card {
  position: relative;
  overflow: hidden;
  max-width: 450px;
  width: 100%;
  max-height: 288px;
  aspect-ratio: 17 / 18;

  border-radius: 12px;
  background: $bg-primary;
  border: 1px solid $stroke;
  box-shadow: 4px 4px 15px 0px $stroke;

  @include hover-control {
    cursor: pointer;
    img {
      transform: scale(1);
    }
  }
}

.content {
  position: absolute;
  inset: 0;
  z-index: 1;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  // текст превышаюший 3 строки скрывается
  max-width: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.image {
  width: 300px;
  height: auto;
  margin: auto;
  object-fit: cover;
  object-position: center;
  background-color: $stroke;

  transform: scale(1.1);
  transition: transform 0.4s ease;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
}
