@import "@/styles/variables";
@import "@/styles/media/media-queries";
@import "@/styles/skeleton";

:global(.content-rtl) .card {
  & .image {
    transition: transform 0.4s ease;

    transform: scale(1.03) rotateY(180deg);
  }
  @include hover-control {
    img {
      transform: scale(1) rotateY(180deg);
    }
  }
}

.card {
  max-width: 500px;
  max-height: 370px;
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: 1px solid $stroke;
  border-radius: 12px;
  background-color: $bg-primary;
  box-shadow: $card-shadow;
  cursor: pointer;

  @include hover-control {
    img {
      transform: scale(1.05);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  padding-top: 0;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  overflow-wrap: break-word;
  height: calc($h3-lh * 2);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @include skeleton-text(2);

  text-transform: uppercase;
}

.image {
  max-height: 300px;
  padding: 20px;
  overflow: hidden;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $bg-primary;
  border-bottom: 1px solid $stroke;

  & img {
    height: 100%;
    width: auto;

    object-fit: contain;
    object-position: center;

    transform: scale(1);
    transition: transform 0.4s ease;
  }
}
