@import "@/styles/variables";
.card {
  width: 50%;

  background: $bg-primary;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.cardRow {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.cardRow .map {
  width: 650px;
  aspect-ratio: 130 / 73; //соотношение сторон
}

.map {
  width: 100%;
  aspect-ratio: 235 / 132;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

// info
.info {
  height: fit-content;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
