$white: #fafafa;
$accent: #2176ea;
$black: #0c1618;
$stroke: #d0d0d0;
$yellow: #d1ac00;
$gray: #77878b;
$bg-primary: #ffffff;
$gradient-overlay: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.3) 0%);

// media breakpoint

$mobile-breakpoint: 500px;
$table-breakpoint: 800px;
$desktop-breakpoint: 1200px;
