// colors
$white: #fafafa;
$accent: #1d5b7d;
$black: #0c1618;
$stroke: #d0d0d0;
$yellow: #d1ac00;
$gray: #77878b;
$bg-primary: #ffffff;
$gradient-overlay: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.3) 0%);

// box-shadow
$card-shadow: 2px 2px 12px 0px #d0d0d080;

// media breakpoint
$mobile-breakpoint: 500px;
$table-breakpoint: 800px;
$desktop-breakpoint: 1200px;

// text font-size
$h1-fz: clamp(2.5rem, 1.896rem + 2.27vw, 4rem);
$h2-fz: clamp(1.625rem, 1.5243rem + 0.3791vw, 1.875rem);
$h3-fz: clamp(0.875rem, 0.825rem + 0.19vw, 1rem);
$subtitle-lg-fz: clamp(1.25rem, 1.1493rem + 0.3791vw, 1.5rem);
$subtitle-md-fz: clamp(1rem, 0.899rem + 0.38vw, 1.25rem);
$subtitle-sm-fz: clamp(0.875rem, 0.7743rem + 0.3791vw, 1.125rem);
$text-lg-fz: clamp(0.875rem, 0.825rem + 0.19vw, 1rem);
$text-md-fz: clamp(0.75rem, 0.7rem + 0.19vw, 0.875rem);

// text line height
$h1-lh: clamp(2.375rem, 1.519rem + 3.22vw, 4.5rem);
$h2-lh: clamp(1.875rem, 1.7743rem + 0.3791vw, 2.125rem);
$h3-lh: clamp(1rem, 0.95rem + 0.19vw, 1.125rem);
$subtitle-lg-lh: clamp(1.563rem, 1.386rem + 0.66vw, 2rem);
$subtitle-md-lh: clamp(1.25rem, 1.149rem + 0.38vw, 1.5rem);
$subtitle-sm-lh: clamp(1.125rem, 0.9739rem + 0.5687vw, 1.5rem);
$text-lg-lh: clamp(1.125rem, 0.9739rem + 0.5687vw, 1.5rem);
$text-md-lh: clamp(1rem, 0.95rem + 0.19vw, 1.125rem);
