@function generate-gradient($cols, $line-color) {
  $gradient: "";
  $pin: round(100 / $cols * 10) / 10;
  $step: $cols - 1;

  @for $i from 1 through $step {
    $gradient: $gradient + gradient-line(#fff, $pin, $i, $step);
  }

  @return unquote("linear-gradient(180deg, #{$gradient})");
}

@function gradient-line($line-color, $pin, $i, $step) {
  $point: $pin * $i;

  $line-weight: 6%;
  $line-between: $pin / 100 * $line-weight;

  $wrap-weight: 15%;
  $wrap-between: $pin / 100 * $wrap-weight;

  $wrap-start: unquote("transparent #{$point - $wrap-between}");
  $wrap-end: unquote("transparent #{$point + $wrap-between}");
  $line-start: unquote("#{$line-color} #{$point - $line-between}");
  $line-end: unquote("#{$line-color} #{$point + $line-between}");

  @if $step != $i and $step > 1 {
    $wrap-end: unquote("#{$wrap-end},");
  }

  @return $wrap-start, $line-start, $line-end, $wrap-end;
}
