@import "@/styles/variables";
@import "@/styles/media/media-queries";

.tag {
  padding: 0 16px;

  line-height: 30px;
  color: $white;

  border-radius: 30px;
  background-color: $accent;

  &::first-letter {
    text-transform: uppercase;
  }
}
