@import "@/styles/variables";
@import "@/styles/media/media-queries";

.card {
  max-width: 450px;
  width: auto;

  background: $bg-primary;
  display: flex;
  flex-direction: column;

  border-radius: 16px 16px 0 0;
}

// head
.head {
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 15px;
}

.image {
  background-color: $stroke;
  overflow: hidden;
  aspect-ratio: 7 / 4;
  border-radius: 16px;
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    transform: scale(1.1);
    cursor: pointer;

    transition: transform 0.6s ease;
  }

  @include hover-control {
    img {
      transform: scale(1);
    }
  }
}

// captions
.captions {
  position: absolute;
  inset: auto 0 0 0;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}

.date {
  padding: 0 16px;

  line-height: 30px !important;

  border-end-end-radius: 15px;
  border-start-end-radius: 15px;

  background: $bg-primary;
}

// content
.content {
  min-height: 140px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

// текст превышающий n строк скрывается
.name,
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.name {
  height: calc($h3-lh * 2);
  // текст превышающий 2 строки скрывается
  -webkit-line-clamp: 2;
}

.description {
  height: calc($text-md-lh * 3);
  // текст превышающий 3 строки скрывается
  -webkit-line-clamp: 3;
}
