@import "@/styles/variables";
@import "@/styles/media/media-queries";

.wrapper {
  // max-width: 500px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  border-radius: 12px;
  border: 1px solid $stroke;
  background-color: $bg-primary;
  box-shadow: 4px 4px 15px 0px $stroke;
}

.image {
  // width: 100%;
  // height: 272px;

  background-color: $bg-primary;
  border-bottom: 1px solid $stroke;

  cursor: pointer;
  overflow: hidden;

  iframe {
    width: 100%;
    // max-height: 272px;
    // height: 100%;

    object-fit: contain;
    object-position: center;
  }
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 12px;

  h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    cursor: pointer;
  }
}
