@import "@/styles/variables";
@import "@/styles/media/media-queries";

.wrapper {
  margin-bottom: 80px;

  @include mobile {
    margin-bottom: 30px;
  }
}

.title {
  text-align: center;
  margin-bottom: 30px;

  @include mobile {
    margin-bottom: 20px;
  }
}
