@import "@/styles/variables";
@import "@/styles/media/media-queries";

.wrapper {
  position: relative;
  z-index: 2;
  margin-bottom: 80px;

  &::before {
    content: "";

    position: absolute;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.wrap {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 110px;

  box-sizing: border-box;

  @include desktop {
    padding-top: 85px;
  }

  @include table {
    padding-top: 90px;
  }

  @include mobile {
    padding-top: 66px;

    text-align: center;
  }
}

.content {
  max-width: 550px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.description,
.subtitle {
  p {
    font: inherit;
  }
}

.slide {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  pointer-events: none;
  user-select: none;
  background-color: #a6babe;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;

    background-color: inherit;
  }

  &::before {
    right: 50vw;

    width: 100vw;
    height: 100vw;

    border-radius: 0 0% 100% 0;
  }

  &::after {
    right: 48vw;

    width: 100vw;
    height: 125vw;

    opacity: 0.7;
    border-radius: 0 0% 150% 0;
  }

  & img {
    object-position: right !important;
  }

  @include desktop {
    &::after,
    &::before {
      content: none;
    }
  }
}

:global(.content-rtl) {
  .background {
    &::before,
    &::after,
    & img {
      transform: scaleX(-1);
    }
    &::before {
      right: -50vw;
    }
    &::after {
      right: -48vw;
    }
  }
}
