@import "@/styles/variables";

.wrapper {
  margin-bottom: 80px;
}

.wrap {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 550px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}
