@import "@/styles/variables";
@import "@/styles/media/media-queries";

.wrapper {
  position: relative;
  margin-bottom: 80px;

  &::before {
    content: "";

    position: absolute;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.wrap {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 110px;

  box-sizing: border-box;

  @include desktop {
    padding-top: 85px;
  }

  @include table {
    padding-top: 90px;
  }

  @include mobile {
    padding-top: 66px;

    text-align: center;
  }
}

.content {
  max-width: 550px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.description,
.subtitle {
  p {
    font: inherit;
  }
}

.slide {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  pointer-events: none;
  user-select: none;

  &::before {
    content: "";

    position: absolute;
    right: 50vw;
    z-index: 1;

    width: 100vw;
    height: 100vw;

    background-color: #a6babe;
    border-radius: 0 0% 100% 0;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0%;
    right: 48vw;
    z-index: 1;

    width: 100vw;
    height: 125vw;

    background-color: #a6babe;
    opacity: 0.7;
    border-radius: 0 0% 150% 0;
  }

  &--blue {
    &::after,
    &::before {
      background-color: #003f7c !important;
    }
  }

  @include desktop {
    &::after,
    &::before {
      content: none;
    }
  }
}
