@import "@/styles/media/media-queries";

.wrapper {
  @include mobile {
    display: none;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item:last-child .link::after {
  content: "";
}

.link {
  text-transform: lowercase;

  &::after {
    content: "›";
  }

  span {
    font: inherit;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  display: flex;
  align-items: center;
  gap: 6px;
}

:global(.content-rtl) .link svg {
  transform: scale(-1, 1);
}
