@import "@/styles/media/media-queries";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 80px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;

  @include desktop {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  @include table {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
  @include mobile {
  }
}
.item {
  @include table {
    display: none;
    &:nth-child(-n + 6) {
      display: grid;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
}
